body {
    font-family: Arial;
  }

header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  z-index: 9999;
}

.header-list{
  font: normal normal bold 20px/23px Arial;
  letter-spacing: 0px;
  opacity: 1;
}

#nav{
  top: 14px;
  left: 800px;
  list-style:none;
  overflow: hidden;
}

#nav li{
  text-align:center;
  float: left;
  margin-right:20px;
}

#nav li a{
text-decoration: none;
padding:20px;
color: #272727;
}

.top img{
  position:relative;
  top: 0px;
  left: 312px;
  width: 1192px;
  height: 644px;
  background: #FFFFFF52 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

  h1{
    position:absolute;
    top: 136px;
    left: 98px;
    width: 100%;
    height: 36px;
    text-align: left;
    font: normal normal bold 32px/37px Arial;
    letter-spacing: 1.6px;
    color: #1d1d1d;
    opacity: 1;
  }
  
  h2 {
    position:absolute;
    top: 188px;
    left: 98px;
    width: 100%;
    height: 28px;
    text-align: left;
    font: normal normal normal 25px/29px Arial;
    letter-spacing: 0.63px;
    color: #3C3C3C;
    opacity: 1;
  }

  h3{
    position:absolute;
    top: 352px;
    left: 98px;
    width: 100%;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/17px Arial;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1;
  }

  #studios > div {
    margin: 1em 0;
    padding: 0.5em;
    background: #f8f8f8;
    min-height: 3em;
  }
  .studio-title {
    font-weight: bold;
  }
  .studio-title-en {
    margin-left: 1em;
    font-weight: 100;
    opacity: 0.75;
  }

  footer p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal bold 10px/11px Arial;
    letter-spacing: 0.15px;
    color: #373737;
    opacity: 1;
  }