body {
    font-family: Arial;
  }

header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  z-index: 9999;
}

.header-list{
  font: normal normal bold 20px/23px Arial;
  letter-spacing: 0px;
  opacity: 1;
}

#nav{
  top: 14px;
  left: 800px;
  list-style:none;
  overflow: hidden;
}

#nav li{
  text-align:center;
  float: left;
  margin-right:20px;
}

#nav li a{
text-decoration: none;
padding:20px;
color: #272727;
}

.top img{
  position:relative;
  top: 0px;
  left: 312px;
  max-width: 100%;
  height: auto;
  background: #FFFFFF52 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

  h1{
    position:absolute;
    top: 136px;
    left: 98px;
    width: 100%;
    height: 36px;
    text-align: left;
    font: normal normal bold 32px/37px Arial;
    letter-spacing: 1.6px;
    color: #1d1d1d;
    opacity: 1;
  }
  
  h2 {
    position:absolute;
    top: 188px;
    left: 98px;
    width: 100%;
    height: 28px;
    text-align: left;
    font: normal normal normal 25px/29px Arial;
    letter-spacing: 0.63px;
    color: #3C3C3C;
    opacity: 1;
  }

  h3{
    position:absolute;
    top: 352px;
    left: 98px;
    width: 100%;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/17px Arial;
    letter-spacing: 0px;
    color: #4F4F4F;
    opacity: 1;
  }

  .top{
    margin-bottom:65px;
  }

  .mokuji{
    padding: 0.5em 1em;
    margin: 50px 0;
    width:100%;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    border-bottom: solid 2px #5d627b;
    margin-left: auto;
    margin-right: auto;
  }

  .mokuji p{
    margin:0;
    padding:5px 0;
    font: normal normal bold 23px/27px Arial;
  }

  #studios > div {
    margin: 1em 0;
    margin-left:70px;
    margin-right:70px;
    padding:20px;
    background: #646464;
    min-height: 3em;
    height:auto;
    width:auto;
  }
  .studio-title {
    position:absolute;
    font-weight: bold;
    color:#FFFFFF;
    font-size: 23px;
  }
  .studio-title-en {
    position:absolute;
    margin-left: 1em;
    font-weight: 100;
    opacity: 0.75;
    color:#FFFFFF;
    padding-top:37px;
  }

  .studio-image{
    position:relative;
    width:400px;
    height:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:53px;
    object-fit: cover;
  }

  .studio-intro{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color:#FFFFFF;
    font: normal normal normal Arial;
  }

  footer{
    margin-top:70px;
  }

  p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal bold 10px/11px Arial;
    letter-spacing: 0.15px;
    color: #373737;
    opacity: 1;
  }